.setTimeFormContainer {
    grid-gap: 2rem;
    border-radius: 0.4rem;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    width: 29rem;
}

.setTimeContent {
    display: flex;
    justify-content: right
}

.setTimeForm {
    grid-gap: 1rem;
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
}

.setTimeForm  input {
    border-radius: 0.4rem;
    padding: 0.8rem 1rem;
}

.setTimebtn {
    background-color: lightgray;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    justify-self: center;
    padding: 0.8rem 1.4rem;
}