.toastNotificationbtn {
    background-color: lightblue;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: #fff;
    color: var(--clr-light);
    padding: 1rem 2rem;
}

.showToastbtn {
    background-color: lightblue;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: #fff;
    color: var(--clr-light);
    padding: 1rem 2rem;
}